<mat-card>
  <mat-toolbar color="primary">
    Todo detail
    <span class="spacer"></span>
    <mat-spinner diameter="40" color="warn" *ngIf="microLoading$ | async"></mat-spinner>
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-input-container>
        <input type="text" matInput placeholder="Titre" formControlName="title">
        <mat-error *ngIf="isErrorState('title')">{{ getErrorMessage('title') }}</mat-error>
      </mat-input-container>
      <mat-input-container>
        <textarea matInput placeholder="Description" formControlName="description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
      </mat-input-container>
      <div class="form-btn">
        <button mat-raised-button color="primary" type="submit" mat-button>Save</button>
        <button mat-raised-button [routerLink]="['/todos']">
          <mat-icon>arrow_back</mat-icon>
          Retour
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>