.spinner-wrapper {
  padding: 10px 0;

  mat-spinner {
    margin: 0 auto;
  }
}

mat-checkbox {
  margin-right: 10px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.clickable {
  cursor: pointer;
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}